<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- link rel="shortcut icon" href=""-->
    <title>UniTunes</title>

    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/bundles/css")

</head>
<body>
        @Html.Partial("_Header")
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        @Html.Partial("_Footer")
    </footer>

    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="Digite aqui" />
            <button type="submit" class="btn btn-primary">Procurar</button>
        </form>
    </div>
   
</body>
</html>

